.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup-user-content-box {
  margin: 8px;
}

.popup-user-info {
  margin-bottom: 20px;
}

.popup-user-info-item {
  margin-bottom: 10px;
}

.popup-user-info-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-user-info-content {
  width: 80%;
  background: rgba(240, 240, 240, 1);
  padding: 10px;
  border-radius: 5px;
}

.popup-user-info-input {
  width: 80%;
  padding: 10px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 5px;
  background: rgba(240, 240, 240, 1);
}

.popup-user-info-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
}

.popup-button {
  background: rgba(0, 123, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.popup-button:hover {
  background: rgba(0, 86, 179, 1);
}

.popup-button.disabled {
  background: rgba(200, 200, 200, 1);
  cursor: not-allowed;
}

.popup-user-image-box {
  display: flex;

  gap: 6px;
}
